body{ 
     margin: 0;
     padding: 0;
     box-sizing: border-box;
     font-family: Arial, Helvetica, sans-serif;
}
section{ 
     position: relative;
     width: 100%;
     display: flex;
     justify-content: center;
     align-items: center;
     min-height: 100vh;
}
section header{ 
     position: absolute;
     top: 0;
     width: 100%;
     display: flex;
     justify-content: flex-end;
     padding: 20px;
}
section header ul{ 
     display: flex;
     justify-content: center;
     align-items: center;
}

section header ul li{ 
     list-style: none;
     margin-left: 20px;
}
section header ul li a{ 
     text-decoration: none;
     color: #111;
     font-size: 13px;
}
section header ul li button{ 
     background-color: #4584ef;
     border: none;
     outline: none;
     padding: 8px 14px;
     color: #fff;
     font-size: 14px;
     font-weight: bold;
     border-radius: 3px;
     cursor: pointer;
}
section .main{ 
     width: 580px;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
}
section .main .searchbox{ 
     position: relative;
     width: 100%;
     margin-top: 20px;
}
section .main .searchbox .search{ 
     width: 100%;
     padding: 13px;
     padding-left: 45px;
     padding-right: 5px;
     border-radius: 30px;
     border: 1px solid #ccc;
     outline: none;
     font-size: 16px;
     margin-left: -30px;
}
section .main .searchbox .icons{ 
     position: absolute;
     top: 0;
     width: 98%;
     display: flex;
     justify-content: space-between;
     padding-left: 0px;
     padding-top: 10px;
     align-items: center;
     pointer-events: none;
}
section .main .buttons{ 
     margin-top: 20px;
}
section .main .buttons button{ 
     margin: 0 5px;
     padding: 12px 20px;
     color: #555;
     font-size: 14px;
     border: none;
     cursor: pointer;
     border-radius: 1px solid transparent;
     outline: none;
}
section .main .buttons button:hover{ 
     border-radius: 1px solid #ccc;
}
section .main .lang{ 
     margin-top: 20px;
}
section .footer{ 
     position: absolute;
     bottom: 0;
     left: 0;
     width: 100%;
     background-color: #f2f2f2;
}
section .footer .row{ 
     display: flex;
     justify-content: space-between;
     border-top: 1px solid rgba(0, 0, 0, 0.05) ;
}
section .footer .row ul{ 
     display: flex;
}
section .footer .row ul li a{ 
     text-decoration: none;
     font-size: 14px;
     color: #111;
}
section .footer .row ul li{ 
     list-style: none;
     margin: 0 10px;
}
/* Mobile view */
@media (max-width:768px){ 
     section .main .searchbox .search{ 
          width: 78%;
     }
     section .main .searchbox .icons{ 
          width: 80%;
          padding-left: 34px;
     }
     section .footer .row ul{ 
          display: block;
     }
     section .main .searchbox .search{ 
          margin-left: 15px;
     }
}